[Unit]
Description=Zabbix Agent Script
After=zabbix-agent.service
Wants=zabbix-agent.service

[Timer]
Unit=zabbix-agent-script@%i.service
OnActiveSec=60

[Install]
WantedBy=multi-user.target
